
.grid_item {
    margin: 0 10px 20px;
    flex: 1 1 290px;
}

.card {
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0,2);
    border-radius: 2px;
    line-height: 0;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0, 2);
}

.card_body {
    width: 100%;
    height: 215px;
    overflow: hidden;
    background-color: #eee;
}
.card_body_wide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eee;
}
.card_body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_header {
    width: 100%;
    padding: 10px 15px;
}

.media_obj {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #d8d8d8;
    margin-right: 15px;
    float: left;
}
.media_body {
    width: 100%;
    height: 32px;
    line-height: 32px;
 
}
.media_body a {
    font-family: Courier, serif;
    font-size: 15px;
    color: #999;
    text-decoration: none;
}
.media_body a:hover {
    text-decoration: none;
}

.footer_card {
    width: 100%;
    padding: 10px 15px;
}
.voltar {
    height: 42px;
    border-radius: 5px;
    border: 2px solid transparent;
    background: none;
    margin-top: 10px;
    color: #767676;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
